.insertion-form-area{
	min-height: 500px;
	max-width: 100%;
	background: #2f3640;
	opacity: 0.91;
	margin: 30px;
	border-radius: 10px;
	box-shadow: rgba(83, 92, 104,1.0)  1px 1px 15px;
	display: flex;
	flex-direction: column;
}
.insertion-form-area h2{
	text-align: center;
	color: whitesmoke;
	font-family: Calibri heading;
	padding: 10px;
}

table{
	color: white;
	margin: 10px;
	border-radius: 6px;
}
table thead tr th{
	padding: 12px;
	font-size: 22px;
	font-family: calibri heading;
	background-color: #4D5656;
	opacity: 0.7;
}
table tbody tr td{
	text-align: center;
	padding: 8px;
}
		
table tbody tr td .edit{
	text-decoration: none;
	font-size: medium;
	background-color: yellowgreen;
	padding: 4px;
	color: white;
	border-radius: 4px;
}
table tbody tr td .delete{
	text-decoration: none;
	font-size: medium;
	background-color: red;
	padding: 4px;
	color: white;
	border-radius: 4px;
}