.sowmik{
    min-height: 200px;
    max-width: 600px;
    background: #2f3640;
    margin: 40px 0% 30px 38%;
    border-radius: 10px;
    box-shadow: rgba(83, 92, 104,1.0)  1px 1px 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.sowmik-img{
    height: 150px;
    width: 150px;
    margin: 0 0 0 35px;
    border-radius: 50%;
    box-shadow: rgba(144, 198, 149, 1)  1px 1px 15px;
}
.sowmik-content{
    color: whitesmoke;
    font-size: large;
    letter-spacing: 0.6px;
    margin-right: 40px;
}
.sowmik-content h3{
    letter-spacing: 3px;
    font-weight: bold;
}


.farbin{
    min-height: 200px;
    max-width: 600px;
    background: #2f3640;
    margin: 40px 0% 30px 43%;
    border-radius: 10px;
    box-shadow: rgba(83, 92, 104,1.0)  1px 1px 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.farbin-img{
    height: 150px;
    width: 150px;
    margin: 0 0 0 35px;
    border-radius: 50%;
    box-shadow: rgba(144, 198, 149, 1)  1px 1px 15px;
}
.farbin-content{
    color: whitesmoke;
    font-size: large;
    letter-spacing: 0.6px;
    margin-right: 50px;
}
.farbin-content h3{
    letter-spacing: 4px;
    font-weight: bold;
}



.jahid{
    min-height: 200px;
    max-width: 600px;
    background: #2f3640;
    margin: 40px 0% 30px 48%;
    border-radius: 10px;
    box-shadow: rgba(83, 92, 104,1.0)  1px 1px 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.jahid-img{
    height: 150px;
    width: 150px;
    margin: 0 0 0 40px;
    border-radius: 50%;
    box-shadow: rgba(144, 198, 149, 1)  1px 1px 15px;
}
.jahid-content{
    color: whitesmoke;
    font-size: large;
    letter-spacing: 0.6px;
    margin-right: 40px;
}
.jahid-content h3{
    letter-spacing: 4px;
    font-weight: bold;
}


.sajeeb{
    min-height: 200px;
    max-width: 600px;
    background: #2f3640;
    margin: 40px 0% 30px 53%;
    border-radius: 10px;
    box-shadow: rgba(83, 92, 104,1.0)  1px 1px 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.sajeeb-img{
    height: 150px;
    width: 150px;
    margin: 0 0 0 40px;
    border-radius: 50%;
    box-shadow: rgba(144, 198, 149, 1)  1px 1px 15px;
}
.sajeeb-content{
    color: whitesmoke;
    font-size: large;
    letter-spacing: 0.6px;
    margin-right: 40px;
}
.sajeeb-content h3{
    letter-spacing: 4px;
    font-weight: bold;
}